<h1>Active Sales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Discount</th>
      <th>Items on Sale</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <% if sale.active? %>
        <tr>
          <td><%= link_to sale.title, sale_path(sale)%></td>
          <td><%= sale.discount %>%</td>
          <td><%= sale.items.count %></td>
          <td><%= link_to 'Edit', edit_sale_path(sale) %> | <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>

<hr />

<h1>Inactive Sales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Discount</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <% unless sale.active? %>
        <tr>
          <td><%= sale.title%></td>
          <td><%= sale.discount %>%</td>
          <td><%= link_to 'Edit', edit_sale_path(sale) %> | <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


